{% load i18n zwp_tags %}

<h2>{{ zwp_dir.label }}</h2>

<div id="tabbar">
	{# Placeholder for tab menu #}
</div>

<div id="tabs">
	{% if zwp_dir.has_tech_spec %}
		<div id="tech-spec">
			<h3>{% trans "Technical specification" %}</h3>
			<iframe
				id="dir-tech-spec"
				src="{{ zwp_dir.tech_spec_url }}"
				width="920"
				onload="this.style.height=this.contentDocument.body.scrollHeight + 20 + 'px';">
			</iframe>
		</div>
	{% endif %}

	{% if zwp_dir.parts %}
		<div id="parts">
			<h3>{% trans "Parts" %}</h3>

			{% if zwp_dir.has_parts_index %}
				<iframe
					id="dir-parts-index"
					src="{{ zwp_dir.parts_index_url }}"
					width="100%"
					onload="this.style.height=this.contentDocument.body.scrollHeight + 20 + 'px';">
				</iframe>
			{% endif %}

			<form action="" method="post">
				{{ formset.management_form }}
				{% csrf_token %}
				<table>
					<tr>
						<th></th>
						<th>{% trans "Part" %}</th>
						<th>{% trans "Thumbnail" %}</th>

						{% for c in zwp_dir.columns %}
							<th>{{ c }}</th>
						{% endfor %}
					</tr>
					{% for form in formset %}
						{% if form.non_field_errors %}
							<tr>
								<td colspan="3">
									<ul>
										{% for error in form.non_field_errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</td>
							</tr>
						{% endif %}
						<tr>
							<td>
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}

								{% if form.part.accessible %}
									{{ form.download }}
								{% endif %}
							</td>
							<td>{{ form.part.name }}</td>
							<td>{% part_thumbnail form.part %}</td>

							{% for c in zwp_dir.columns %}
								<td>{{ form.part|part_column:forloop.counter }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
						<tr>
							<td colspan="2">
								<input type="submit" value="{% trans "Mark for download" %}" class="btn btn-default">
							</td>
						</tr>
				</table>
			</form>
		</div>
	{% endif %}
</div>
