{% extends "zwp/base.html" %}
{% load i18n zwp_tags %}

{% block tables_active %}{% endblock %}
{% block downloads_active %}active{% endblock %}

{% block head %}
{% if batch.state == batch.PREPARING %}
	<noscript>
		<meta http-equiv="refresh" content="3">
	</noscript>
{% endif %}
{% endblock %}

{% block content %}
<div id="zwp-download" class="text-center">
	<div class="preparing {% if batch.state != batch.PREPARING %}hidden{% endif %}">
		<p>
			{% blocktrans trimmed %}
			The ZIP file is being prepared. Please wait, this page will automatically
			refresh.
			{% endblocktrans %}
		</p>
		<p>
			{% trans "Progress" %}:
			<span class="zip-size">{{ batch.zip_size|filesizeformat }}</span>/~{{ batch.size|filesizeformat }}
		</p>
	</div>

	<p class="done {% if batch.state != batch.DONE %}hidden{% endif %}">
		{% trans "The ZIP file is ready for download:" %}<br><br>
		<a href="{{ batch.zip_url }}">
			<button class="btn btn-primary">
				{% blocktrans trimmed with file=batch.zip_file %}
				Download {{ file }}.zip
				{% endblocktrans %}
				(<span class="zip-size">{{ batch.zip_size|filesizeformat }}</span>)
			</button>
		</a>
	</p>

	<p class="error {% if batch.state != batch.ERROR %}hidden{% endif %}">
		{% trans "An error has occurred. Please try again." %}
	</p>
</div>

{% if batch.state == batch.OPEN or batch.state == batch.PREPARING %}
	<script>
		zwp.waitForDownload(
			'{% url 'zwp_download' batch.key %}',
			'#zwp-download .preparing',
			'#zwp-download .done',
			'#zwp-download .error',
			'#zwp-download .zip-size'
		);
	</script>
{% endif %}
{% endblock %}
